

.home-background-color {
	background-color: $ff-blue;

}

.icon-settings {
	font-size: 2.4rem;
	margin-top: 5px;

}



.client-name-label {

	margin-top: 8px;

}

.add-new-factfinder-button {

	margin-top: 27px;

}

.blank-space {

	height: 24px;
	width: 24px;

}